/*=============== Fading in Aniamtion ===================*/
html {
    animation: transitionIn 1.75s;
}

@keyframes transitionIn { /* Creates an Animation Variable to be called */
    from {
        opacity: 0;
        transform: rotateX(-18deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
/*====================================================*/

/*============ Spinning Animation =================*/
img {
    transform-origin: right;
    animation: slideIn 1.75s;
}

@keyframes slideIn { /* Creates an Animation Variable to be called */
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}
/*====================================================*/