/*=============== Fading in Aniamtion ===================*/
html { /* Triggers the animation when the web-element loads for first time */
    animation: transitionIn 1.75s;
}

@keyframes transitionIn { /* Creates an Animation Variable to be called */
    from { /* Starting point/ settings for animation */
        opacity: 0;
        transform: rotateX(-18deg);
    }

    to { /* Ending point/ settings for animation */
        opacity: 1;
        transform: rotateX(0);
    }
}
/*====================================================*/

/*============ Spinning Animation =================*/
img { /* Triggers the animation when the web-element loads for first time */
    transform-origin: right; 
    animation: slideIn 1.75s;
}

@keyframes slideIn { /* Creates an Animation Variable to be called */
    from { /* Starting point/ settings for animation */
        transform: scaleX(0);
    }

    to { /* Ending point/ settings for animation */
        transform: scaleX(1);
    }
}
/*====================================================*/