/*=====================================================================================
Settings/ Style for "Content Section"
=======================================================================================*/

.formDetails {
    flex-direction: column !important;
    padding: 1em;
    li {list-style: none;}
    hr {width: 5em;position: relative;right: 55.9em;}
    h1 {margin: 0;}
}

.formStyle {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 1em;
    padding: 2em;
    margin: auto;
    width: 30em;
    height: 20em;
    h1 {margin: 0;}
    hr {width: 5em;position: relative;right: 12.5em;}
    input {width: 15em;}
    button {width: 8em; height: 3em;}
}

.contactContainer {
    height: 35em;
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    background-position-x: left;
}