/*=====================================================================================
Settings/ Style for "ALL Web-Pages"
=======================================================================================*/

* {
    font-family: 'Playfair Display', serif;
}

.b-style {color: #27282C;}
.b-backstyle {background-color: #27282C;}

.w-style {color: #fff;}
.w-backstyle {background-color: #fff;}

.uppercase {text-transform: uppercase;}

.center{justify-content: center;}

.container {
    display: flex;
    flex-direction: row;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30em;
    padding: 1em 2em;
    hr {
        width: 5em;
        margin: 0.5em auto 0.5em 0;
    }
}