/*=====================================================================================
Settings/ Style for "ALL Web-Pages"
=======================================================================================*/

* {
    font-family: 'Playfair Display', serif;
}

.b-style {color: #070707;}

.w-style {color: #fff;}