/*=====================================================================================
Settings/ Style for "Header Section"
=======================================================================================*/

/*============ CLEARFIX ==============*/

.group:after {
  content: "";
  display: table;
  clear: both;
}
/*============ CLEARFIX ==============*/

body {
  height: 125vh;
  font-family: 'Playfair Display', serif;
}

/*============ NAVBAR ==============*/

nav {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  border: 1px solid blue;
}

nav { 
  .btn-home{
    border: 1px solid red;
  }
}

.fa-envelope {
  font-size: 30px;
}

/*============ Banner Image ==============*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-image.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
