/*=====================================================================================
Settings/ Style for "Header Section"
=======================================================================================*/

/*============ CLEARFIX ==============*/

.group:after {
  content: "";
  display: table;
  clear: both;
}
/*============ CLEARFIX ==============*/

body {
  height: 125vh;
  font-family: 'Playfair Display', serif;
}

/*============ NAVBAR ==============*/

nav {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
  background-color: black;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

nav * {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
nav a {
  color: white;
}

nav .btn-home {
    font-size: 1.2em;
    letter-spacing: 0.2em;
    color: white;
    margin-right: 75px;
    margin-left: 75px;
  }

.btn-services {
  color: white;
  padding-top: 4px
}
.btn-services:hover {
  border-bottom: .5px solid lightgrey;
  color: lightgrey;
}

.btn-offices {
  color: white;
  padding-top: 4px
}
.btn-offices:hover {
  border-bottom: .5px solid lightgrey;
  color: lightgrey;
}

.btn-testimonials {
  color: white;
  padding-top: 4px
}
.btn-testimonials:hover {
  border-bottom: .5px solid lightgrey;
  color: lightgrey;
}

.btn-contact {
  color: white;
  padding-top: 4px
}
.btn-contact:hover {
  border-bottom: .5px solid lightgrey;
  color: lightgrey;
}

.fa-phone-alt {
  font-size: 15px;
  color: white;
  margin-top: 7px;
}
.fa-phone-alt:hover {
  color: lightgrey;
}

.fa-envelope {
  font-size: 15px;
  color: white;
  margin-top: 7px;
  margin-right: 75px
}
.fa-envelope:hover {
  color: lightgrey;
}

.btn-drop {
  margin-right: 75px;
  font-size: 15px;
  margin-top: 7px;
}

h1 {
  color: white;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*============ MEDIA QUERIES ==============*/

@media all and (min-width: 1680px){
  .btn-drop {
    display: none;
  }
}
@media all and (min-width: 1250px) and (max-width: 1680px) {
  nav {
    font-size: 0.9em;
  }
  .btn-drop {
    display: none;
  }
}
@media all and (min-width: 1000px) and (max-width: 1250px) {
  nav {
    font-size: 1em;
  }
  .btn-contact {
    display: none;
  }
  .btn-drop {
    display: none;
  }
 .btn-home {
   font-size: 1.5em;
 }
}
@media all and (min-width: 880px) and (max-width: 1000px) {
  nav {
    font-size: 1em;
  }
  .btn-contact {
    display: none;
  }
  .btn-testimonials {
    display: none;
  }
  .fa-envelope {
    margin-right: 75px;
  }
  .btn-drop {
    display: none;
  }
  .btn-home {
    font-size: 0.8em;
  }
}
@media all and (min-width: 420px) and (max-width: 880px) {
  nav {
    font-size: 0.9em;
    height: 80px;
  }
  .btn-contact {
    display: none;
  }
  .btn-testimonials {
    display: none;
  }
  .btn-services {
    display: none;
  }
  .btn-offices {
    display: none;
  }
  .btn-home {
    margin-right: 0px;
    width: 100%;
    font-size: 0.3em;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .btn-drop {
    margin-right: 75px;
    margin-top: 12px;
  }
  .btn-phone {
    margin-top: 15px;
    margin-top: 15px;
  }
  .fa-envelope {
    margin-right: 0px;
    margin-top: 12px;
  }
}
@media all and (max-width: 420px) {
  nav {
    height: 90px;
  }
  .btn-home {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 0.5em;
  }
  .btn-phone {
    margin-top: 20px;
    font-size: 1.3em;
  }
  .fa-envelope {
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    font-size: 1.3em;
  }
  .btn-contact {
    display: none;
  }
  .btn-testimonials {
    display: none;
  }
  .btn-services {
    display: none;
  }
  .btn-offices {
    display: none;
  }
  .btn-drop {
    margin-right: 75px;
    margin-top: 20px;
    font-size: 1.3em;
  }
}

/*============ Banner Image ==============*/

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner-image.jpg");

  /* Set a specific height */
  height: 50%;
  //margin-top: -50px;//
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: .2em;
  .btn-banner {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 1.1em;
  }
  .btn-banner:hover {
    border: 3px solid white;
  }
  .btn-banner:active {
    border: 2px solid white;
  }
  p {
    border-top: 1px solid white;
    padding-top: 15px;
    font-size: 1.4em;
  }
}
/*============ MEDIA QUERIES ==============*/

@media all and (min-width: 1680px){

}
@media all and (min-width: 1200px) and (max-width: 1680px) {

}
@media all and (min-width: 1000px) and (max-width: 1250px) {
  .hero-text {
    font-size: 1.2em;
  }
}
@media all and (min-width: 880px) and (max-width: 1000px) {
  .hero-text {
    font-size: 1.2em;
  }
}
@media all and (max-width: 880px) {
  .hero-text {
    font-size: 1em;
  }
}
